replicaCount: 1

image:
  repository: nginx
  tag: latest
  pullPolicy: Always

app:
  port: 8000
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 500m

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
  ingressClassName: "nginx"
  hosts: []
  
livenessProbe:
  path: "/health"
  port: 8000
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 3
