nameOverride: auth-service
fullnameOverride: auth-service

replicaCount: 1

image:
  repository: itsmot9/auth-service
  tag: latest
  pullPolicy: Always

app:
  port: 8081
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 500m

service:
  type: ClusterIP
  port: 8081
  targetPort: 8081

env:
  PORT: "8081"
  HOST: "0.0.0.0"
  KEYCLOAK_ISSUER: "http://keycloak.rsoi-lab4.svc.cluster.local:8080/realms/rsoi-realm"
  KEYCLOAK_JWKS_URI: "http://keycloak.rsoi-lab4.svc.cluster.local:8080/realms/rsoi-realm/protocol/openid-connect/certs"
  KEYCLOAK_CLIENT_ID: "lab5-client"
  KEYCLOAK_TOKEN_URL: "http://keycloak.rsoi-lab4.svc.cluster.local:8080/realms/rsoi-realm/protocol/openid-connect/token"

livenessProbe:
  httpGet:
    path: /health
    port: 8081
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health
    port: 8081
  initialDelaySeconds: 20
  periodSeconds: 5
  failureThreshold: 3
  timeoutSeconds: 3
